/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
  --color-main: #000;
  --border-color: #000;
  --heart-color: #f00;
  --button-color: #fff;
  --icon-color: #fff;
  --button-background: #fff;
  --background-color: #fff;
  --background-image-main-color: #d3d3d3;
  --background-image-color: #e7e7e7, #1a1a1a;
  --text-stroke-size: .2px #fff;
  --text-opacity: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-main: #000;
    --border-color: #000;
    --heart-color: #f00;
    --button-color: #fff;
    --icon-color: #fff;
    --button-background: #fff;
    --background-color: #fff;
    --background-image-main-color: #d3d3d3;
    --background-image-color: #e7e7e7, #1a1a1a;
    --text-stroke-size: .2px #fff;
    --text-opacity: 1;
  }
}

:root.theme-dark {
  --color-main: #00cc14;
  --border-color: #00cc14;
  --heart-color: #f00;
  --button-color: #000;
  --icon-color: #00cc14;
  --button-background: #00cc14;
  --background-color: #000;
  --background-image-main-color: #000;
  --background-image-color: #007f0c, #004306;
  --text-stroke-size: none;
  --text-opacity: 0.6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-main: #00cc14;
    --border-color: #00cc14;
    --heart-color: #f00;
    --button-color: #000;
    --icon-color: #00cc14;
    --button-background: #00cc14;
    --background-color: #000;
    --background-image-main-color: #000;
    --background-image-color: #007f0c, #004306;
    --text-stroke-size: none;
    --text-opacity: 0.6;
  }
}
